/**
 * Global CSS for Interview Prep
 */

:root {
  --ifm-color-primary: #252525;
  --ifm-color-primary-dark: #1e1e1e;
  --ifm-color-primary-darker: #101010;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #525252;
  --ifm-color-primary-lighter: #636363;
  --ifm-color-primary-lightest: #858585;
  --ifm-code-padding-horizontal: 0.1rem;
  --ifm-code-padding-vertical: 0.1rem;
  --ifm-code-border-radius: 0.125rem;
}

[data-theme='dark'] {
  --ifm-color-primary: #e3e3e3;
  --ifm-color-primary-dark: #d1d1d1;
  --ifm-color-primary-darker: #c0c0c0;
  --ifm-color-primary-darkest: #a0a0a0;
  --ifm-color-primary-light: #f5f5f5;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}
